body{
    margin: 0 auto;
    padding: 0px;
    background-color: transparent;
    max-width: 1024px;
}

html { 
    background: url("../images/Clash-royale-banner.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }



.text-muted{
    font-size: 12px;
    width: 250px;
    padding: 3px 10px;
}

.myButton{
    border-radius: 3px;
    border: none;
    padding: 2px 20px;
}

h1{
    margin-bottom: 20px;    
}

.textBar{
    background-color: black;
    padding: 20px 100px;
    border-radius: 10px; 
    margin-top: 500px;
}

.emptySpace{
    height: 20px;
}

#chestCycle{
    text-align: center;
}

#chestCycle{
    text-align: center;
}

.center{
    text-align: center;
}

#currentDeck{
    height: 200px;
}

.row{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: transparent
}

.playerDetails{
    
}